<section class="intro">
  <div class="container">
    <!-- <p class="lead">Hi, I'm <strong class="author-name" itemprop="name">{{ site.author.name }}</strong>, a <em itemprop="jobTitle">{{ site.author.job }}</em>. <br>
    {{ site.author.bio }}</p> -->

    <p> 

      I am currently a master's student at Robotics Research Center, IIITH advised by <a href = "https://sites.google.com/view/spandanroy" target = "_blank">Dr. Spandan Roy</a> with collaboration with <a href = "https://scholar.google.com/citations?user=ok1eCzUAAAAJ&hl=en" target = "_blank">Prof. Simone Baldi</a> and <a href = "https://scholar.google.com/citations?user=FJkKPJ4AAAAJ&hl=en" target = "_blank">Dr. Jinoh Lee</a>. 

      <br>
      <br>
      I am currently working applied non-linear control theory for robotic systems. Videos of my projects are seen <a href = "https://youtube.com/playlist?list=PL20mrdU_b4UMqnWqdo9QIqkZGjL12jd51" target = "_blank">here</a>. My research intrests lie in safety critical control and sim2real especially pertaining learning based controls. I am currenty seeking a PhD position in control theorty for robotics commencing Fall 2023, please feel free to contact me if I'm a good fit to your lab. My CV could be found <a href = "https://drive.google.com/file/d/1L43mJ_RjC0aP0wk1wVXfbPKNY3f1CGSd/view" target = "_blank">here</a>.

      <br>
      <br>

      I am also a Kuchipudi Classical Dancer and performed all across India. I have a diploma and a guinness world record in Kuchipudi dancing. Some of my performances can be seen <a href = "https://www.youtube.com/channel/UC3gsKJMXGyiwjCp9PmfrnKg" target = "_blank">here</a>.

      <br>
      <br>
      {% include paper-list.html %}
      <!-- {% include blog-list.html %} -->


    </p>
  </div>
</section>
