<section class="intro">
  <div class="container">
    <!-- <p class="lead">Hi, I'm <strong class="author-name" itemprop="name">{{ site.author.name }}</strong>, a <em itemprop="jobTitle">{{ site.author.job }}</em>. <br>
    {{ site.author.bio }}</p> -->

    <div class="intro-row">
      <div class="intro-text">
        <p>
          Hey! I am a second year PhD student at <a href = "https://mrs.fel.cvut.cz/" target = "_blank">Multi-Robot Systems Group (MRS)</a> in Czech Technical University advised by <a href = "https://mrs.fel.cvut.cz/members/professors/penicka" target = "_blank">Dr. Robert Pěnička</a> and <a href = "https://mrs.fel.cvut.cz/members/martin-saska" target = "_blank">Prof. Martin Saska</a>. My current research interests revolve around leveraging the power of learning based methods for generalisable, multi-goal and multi-task agile flight. Long term, I would like to arrive at a unified controller able to operate at super high speeds in cluttered environments in outdoor, real world scenarios! 

      <br>
      <br>
      Prior to this I worked on classical non-linear control methods for UAV flight aimed at a carrying a payload via different mechanisms such as suspended payload and an aerial manipulator at <a href = "https://robotics.iiit.ac.in/" target = "_blank">RRC, IIIT-H</a> advised by <a href = "https://sites.google.com/view/spandanroy" target = "_blank">Dr. Spandan Roy</a> ,  <a href = "https://scholar.google.com/citations?user=ok1eCzUAAAAJ&hl=en" target = "_blank">Prof. Simone Baldi</a> and <a href = "https://scholar.google.com/citations?user=FJkKPJ4AAAAJ&hl=en" target = "_blank">Dr. Jinoh Lee</a>.  
      <br>
      <br>

I have the fortune and privilege of working with UAVs in outdoor settings with an incredible group of people at MRS. A peek into the workings of the group <a href = "https://mrs.fel.cvut.cz/projects" target = "_blank">here</a>. 
          <br>
          <br>

I am also a trained Kuchipudi Dancer. I hold a Diploma and I am a Doordarshan B-grade artist (FYI, this certification makes you eligible to perform at events held by the Indian government, both in India and abroad. Grades are assigned based on age category). Some of my performances can be seen <a href = "https://www.youtube.com/channel/UC3gsKJMXGyiwjCp9PmfrnKg" target = "_blank">here</a>.
          <br>
          <br>
I am currently looking for a research stay for a duration of around 4-6 months. If you think we could collaborate on leaning based planners and/or controllers for UAV flight, please feel free to contact me! 

          <br>
          <br>
          <!-- {% include paper-list.html %} -->
          <!-- {% include blog-list.html %} -->

        </p>
      </div>
      <div class="intro-media">
        <img class="intro-avatar-right" src="/assets/images/profile/Dantu.jpg" alt="avatar">
        <div class="profile-links">
          <a href="{{ site.author.scholar | default: '#' }}" target="_blank"><i class="fa fa-graduation-cap" aria-hidden="true"></i>Google Scholar</a>
          <span class="sep">|</span>
          <a href="mailto:{{ site.author.email }}"><i class="fa fa-envelope" aria-hidden="true"></i>Email</a>
          <!-- <span class="sep">|</span> -->
          <!-- <a href="{{ site.author.github }}" target="_blank"><i class="fa fa-github" aria-hidden="true"></i>GitHub</a> -->
        </div>
        <div class="profile-links-secondary">
          <a href="{{ site.author.cv | default: '#' }}" target="_blank"><i class="fa fa-file" aria-hidden="true"></i>CV</a>
          <span class="sep">|</span>
          <a href="{{ site.author.linkedin | default: '#' }}" target="_blank"><i class="fa fa-linkedin" aria-hidden="true"></i>LinkedIn</a>
        </div>
      </div>
    </div>
  </div>
</section>